.hot-news {
  margin-top: 20px;
}

.hot-news h4 {
  font-weight: 700;
  font-size: 1.2rem;
}

a.hot-news {
  margin-left: 10px;
  float: left;
  margin-top: 1px;
}

.content {
  float: left;
  margin-top: 10px;
}

.content img {
  width: 100%;
}

a.hot-news-a {
  color: #E13427;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
}

.price {
  color: #37a344;
  margin: 10px 0px;
  font-size: 16px;
  font-weight: 700;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.name {
  padding: 0px;
  font-size: 13px;
  font-weight: bold;
}

.descrition {
  text-transform: lowercase;
  font-size: 12.5px;
  line-height: 1.6;
  color: #888;
  margin: 10px 0px;
}

.border {
  margin-right: 1%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #E13427 !important;
  display: flex;
}

.border img {
  height: 180px;
  width: 100%;
}

.content-new {
  margin-bottom: 20px;
}


.container-body {
  margin-top: 30px;
}

.container-body img {
  height: 140px;
}

.container-body .descrition {
  margin: 0px 0px 5px;
}

.container-body .border {
  border: 1px solid #E13427 !important;
  margin-top: 10px;
  background: #fff9f3;
}

