<app-menu-bar></app-menu-bar>
<app-hot-news></app-hot-news>
<div class="container clearfix">
  <div class="row ">
    <div class="float-left col-12 col-lg-8">
      <div class="container-body row">
        <div class="float-left col-12">
          <div class="border">
            <div class="col-12 col-lg-9 float-left">
              <div href="#" class="hot-news-a"><h3 style="color: red">* Tên ngôi nhà: {{listHouse.tenNha}} </h3></div>
              <div class="price"><span>* Giá: </span><strong>{{listHouse.giaTienTheoDem}}$/Đêm</strong></div>
              <div class="acreage clearfix">
                <p>
                  <span style="font-weight: normal">* Địa chỉ: </span> <a href="#">{{listHouse.diaChi}}</a>
                </p>
              </div>
              <div>
                <span>* Mô tả chung: </span>
                {{listHouse.moTaChung}}
              </div>
              <div>
                <span>* Trạng thái:{{listHouse.trangThai}} </span>
              </div>
              <form [formGroup]="formGroup">
                <div class="form-group">
                  <label><span class="req">* </span> Loại nhà:  {{listHouse.categoryHouse.name}}</label>
                </div>
                <div class="form-group">
                  <label><span class="req">* </span> Loại phòng:  {{listHouse.categoryRoom.name}} </label>
                </div>
                <span>* Hình ảnh</span>
                <td *ngFor="let image of listHouse.picture">
                  <img [src]="image.tenAnh" style="width: 100px" height="100px">
                </td>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="float-left col-12 col-lg-4">
      <app-side-bar></app-side-bar>
    </div>
  </div>
</div>
<app-footer></app-footer>

