
<div class="nav-side-menu">
  <div class="fixed">
    <div class="brand">Managerment</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

      <ul id="menu-content" class="menu-content collapse out">
        <a class="router-a" routerLink="/user/{{idHost}}">
        <li>
          <i class="fa fa-dashboard fa-lg"></i> Dashboard
        </li>
        </a>
        <li  class="collapsed">
          <i class="fa fa-user fa-lg"></i> Users <span class="arrow"></span>
        </li>
        <ul class="sub-menu " id="products">
          <li class="active"><a href="#">User-1</a></li>
          <li><a href="#">User-2</a></li>
          <li><a href="#">User-3</a></li>
        </ul>
        <li  class="collapsed">
          <i class="fa fa-list fa-lg"></i> Product  <span class="arrow"></span>
        </li>
        <ul class="sub-menu " id="new-1">
          <li class="active" routerLink="/user/house/{{idHost}}">Product list</li>
          <li routerLink="/user/add/{{idHost}}">Add-product</li>
          <li routerLink="/user/house/{{idHost}}">Edit-product</li>
          <li routerLink="/user/house/{{idHost}}">Delete-product</li>
        </ul>
        <li class="collapsed">
          <i class="fa fa-bars fa-lg"></i> Categories <span class="arrow"></span>
        </li>
        <ul class="sub-menu " id="new">
          <li class="active">House Category</li>
          <li>Room Category</li>
        </ul>
        <li>
          <i class="fa fa-users fa-lg"></i> About Us
        </li>
        <li>
          <i class="fa fa-search fa-lg"></i> Search
        </li>
      </ul>
    </div>
  </div>
</div>

