<!--<form [formGroup]="formGroup" (ngSubmit)="checkUser()">-->
<!--  <div class="row">-->
<!--    <div class="col-sm-4"></div>-->
<!--    <div class="col-sm-4">-->
<!--      <div class="form-group">-->
<!--        <label for="exampleInputEmail1">User Name</label>-->
<!--        <input type="email" class="form-control" id="exampleInputEmail1" formControlName="userName" aria-describedby="emailHelp">-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="exampleInputPassword1">Password</label>-->
<!--        <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1">-->
<!--      </div>-->
<!--      <div class="form-group form-check">-->
<!--        <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--        <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--      </div>-->
<!--      <button type="submit" class="btn btn-primary">Đăng nhập</button>-->
<!--      <button  class="btn btn-primary" routerLink="/signup">Đăng kí</button>-->
<!--      <div *ngIf="isShow"-->
<!--           class="alert {{ (isSuccess) ? 'alert-success' : 'alert-danger' }}"-->
<!--           role="alert">-->
<!--        {{message}}-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-sm-4"></div>-->
<!--  </div>-->
<!--</form>-->



<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">

    <div class="modal-content">


      <div class="modal-c-tabs">


        <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user mr-1"></i>
              Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user-plus mr-1"></i>
              Register</a>
          </li>
        </ul>


        <div class="tab-content">

          <div class="tab-pane fade in show active" id="panel8" role="tabpanel">
            <form [formGroup]="formGroup" (ngSubmit)="checkUser()">
            <div class="modal-body mb-1">
              <h2 class="text-center">Sign Up</h2>
              <div class="md-form form-sm mb-5">
                <i class="fas fa-envelope prefix"></i>
                <input type="email" id="exampleInputEmail1" formControlName="userName" aria-describedby="emailHelp" class="form-control form-control-sm ">
                <label data-error="wrong" data-success="right" for="exampleInputEmail1">Your User Name</label>
              </div>


              <div class="md-form form-sm mb-4">
                <i class="fas fa-lock prefix"></i>
                <input type="password" id="exampleInputPassword1" formControlName="password"  class="form-control form-control-sm ">
                <label data-error="wrong" data-success="right" for="exampleInputPassword1">Your Password</label>
              </div>
              <input class="form-check-input" type="checkbox" id="exampleCheck1">
              <div class="form-group text-center">
                <label class=" blue-text font-weight-bold form-check-label" for="exampleCheck1">Check me out</label>
              </div>
              <div class="text-center mt-2">
                <button  type="submit" class="btn btn-info" > Log in </button>
              </div>



              <div *ngIf="isShow"
                   class="alert {{ (isSuccess) ? 'alert-success' : 'alert-danger' }}"
                   role="alert">
                {{message}}
              </div>
            </div>
            <div class="modal-footer">
              <div class="options text-center text-md-right mt-1">
                <p>Not a member? <span class="blue-text">Sign Up</span></p>
              </div>
              <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
            </div>
            </form>
          </div>


          <div class="tab-pane fade" id="panel7" role="tabpanel">
            <form [formGroup]="formGroupSignUp" (ngSubmit)="save()">
            <div class="modal-body">
              <h2 class="text-center">Register</h2>
              <div class="md-form form-sm mb-5">
                <div class="form-group">
                <i class="fas fa-user prefix"></i>
                <input type="email" id="name" formControlName="hoTen" aria-describedby="emailHelp" class="form-control form-control-sm ">
                <label  for="name">Your Full Name</label>
                </div>
              </div>

              <div class="md-form form-sm mb-5">
                <div class="form-group">
                <i class="fas fa-globe prefix"></i>
                <input type="email"  id="address" formControlName="diaChi" aria-describedby="emailHelp" class="form-control form-control-sm ">
                <label  for="address">Your Address</label>
                </div>
              </div>

              <div class="md-form form-sm mb-5">
                <div class="form-group">
                <i class="fas fa-envelope prefix"></i>
                <input type="email"  id="exampleInputEmail2" formControlName="userName" aria-describedby="emailHelp" class="form-control form-control-sm ">
                <label  for="exampleInputEmail2">Your User Name</label>
                </div>
              </div>

              <div class="md-form form-sm mb-5">
                <div class="form-group">
                <i class="fas fa-lock prefix"></i>
                <input type="password"  id="exampleInputPassword2" formControlName="password" aria-describedby="emailHelp" class="form-control form-control-sm ">
                <label  for="exampleInputPassword2">Your Password</label>
                </div>
              </div>


              <div class="text-center form-sm mt-2">
                <button type="submit" class="btn btn-info">Sign up</button>
              </div>

              <div *ngIf="isShow"
                   class="alert {{ (isSuccess) ? 'alert-success' : 'alert-danger' }}"
                   role="alert">
                {{message}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <p class="nav-customAS" data-toggle="modal" data-target="#modalLRForm">LogIn/Register</p>



