a.nav-link.active.waves-effect.waves-light{
  color: white!important;
  background: #0277bd!important;
}

a.nav-link{
  color: black!important;
}

.light-blue.darken-3 {
  background-color: white !important;
}
input#exampleCheck1 {
  margin-left: 150px;
}
button.btn.btn-info.waves-effect.waves-light {
  width: 70%;
}
input{
  color: black!important;
}
p.nav-customAS {
  color: white;
  font-weight: bold;
  padding-top: 8px;
  padding-left: 8px;
  cursor: pointer;
  margin: 0px;
}
