.border {
  margin-right: 1%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #E13427 !important;
  display: flex;
}
.wrapper{
  display: flex;
  align-items: stretch;
}
#content{
  margin: 0px 40px;
  height: 100%;
  width: 80%;
}
.card-box {
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
}
.card-box h5{
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  color: black;
}
.card-box .col-6{
  width: 42%;
  background: #eee !important;
  padding: 30px;
  margin: 0% 4%;
  cursor: pointer;
}
i.large {
  font-size: 6rem;
  text-align: center;
}
.card-box p {
  text-align: center;
  font-size: 1.64rem;
  line-height: 110%;
  margin: 0.82rem 0 0.656rem 0;
}
.padding-border{
  padding: 35px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.card-box .col-6:hover{
  background: #75747442 !important;
}
.card-box a{
  color: #5c6bc0 !important;
}
.card-box a:hover{
  text-decoration: none;
}
.py-5 {
  padding-bottom: 0px!important;
}



.carousel {
  width: 80vw;
  height: 250px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.carousel:hover .controls {
  opacity: 1;
}
.carousel .controls {
  opacity: 0;
  display: flex;
  position: absolute;
  top: 50%;
  left: 0;
  justify-content: space-between;
  width: 100%;
  z-index: 99999;
  transition: all ease 0.5s;
}
.carousel .controls .control {
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0.5;
  transition: ease 0.3s;
  cursor: pointer;
}
.carousel .controls .control:hover {
  opacity: 1;
}
.carousel .slides {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  width: 100%;
  transition: 1s ease-in-out all;
}
.carousel .slides .slide {
  min-width: 100%;
  min-height: 250px;
  height: auto;
}
