<div class="wrapper">
  <app-side-bar-user></app-side-bar-user>

  <div id="content">
    <div class="row ">

      <div class="col-12 col-lg-6 card-box">
        <a href="#">
          <div class="padding-border">
            <h5>Management List</h5>
            <div class="col-12 clearfix ">
              <a routerLink="/show-detail-user/{{id}}">
                <div class="col-6 float-left">
                  <i style="width: 100%" class="indigo-text text-lighten-1 large material-icons">store</i>
                  <p class="col-6-span">User Details</p>
                </div>
              </a>
              <div class="col-6 float-left">
                <i  style="width: 100%"  class="indigo-text text-lighten-1 large material-icons">assignment</i>
                <p class="col-6-span">Products List</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-12 col-lg-6 card-box">
        <a href="#">
          <div class="padding-border">
            <h5>Category Management</h5>
            <div class="col-12 clearfix ">
              <div class="col-6 float-left">
                <i style="width: 100%" class="indigo-text text-lighten-1 large material-icons">view_list</i>
                <p class="col-6-span">Category</p>
              </div>
              <div class="col-6 float-left">
                <i  style="width: 100%"  class="indigo-text text-lighten-1 large material-icons">view_list</i>
                <p class="col-6-span">Sub Category</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="bg-light py-5">
      <div class="container py-5">
        <div class="row mb-4">
          <div class="col-lg-5">
            <h2 class="display-4 font-weight-light">Our team</h2>
            <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>

        <div class="row text-center">

          <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
              <img src="{{urlHaiLit}}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Trần Thanh Hải</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><a href="https://www.facebook.com/thanhhai.tran.1804" target="_blank" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>

          <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{{urlHuyVy}}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Phạm Huy Vỹ</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><a href="https://www.facebook.com/roro.do.100" target="_blank" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>

          <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{{urlTiDa}}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Nguyễn Tiến Đạt</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><a href="https://www.facebook.com/toilatida" target="_blank" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>

          <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-1_s02nlg.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Đinh Xuân Hinh</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100004405128817" target="_blank" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
