<body>
<div class="container register-form">
  <form [formGroup]="formGroup" (ngSubmit)="save()">
  <div class="form">
    <div class="note">
      <p>SimpleRegister form </p>
    </div>

    <div class="form-content">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <i class="fas fa-user prefix"></i>
            <label for="name">Full Name</label>
            <input id="name"  formControlName="hoTen" type="text" class="form-control" placeholder="Your Name *" value=""/>
          </div>
          <div class="form-group">
            <i class="fas fa-globe prefix"></i>
            <label for="address">Address</label>
            <input type="text"  id="address" formControlName="diaChi"  class="form-control" placeholder="Your Address *" value=""/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <i class="fas fa-envelope prefix"></i>
            <label for="exampleInputEmail">User Name</label>
            <input type="text"  id="exampleInputEmail" formControlName="userName" class="form-control" placeholder="Your User Name" value=""/>
          </div>
          <div class="form-group">
            <i class="fas fa-lock prefix"></i>
            <label for="exampleInputPassword">PassWord</label>
            <input type="text" id="exampleInputPassword" formControlName="password" class="form-control" placeholder="Your Password" value=""/>
          </div>
        </div>
      </div>
      <button type="submit" class="btnSubmit">Submit</button>
      <div *ngIf="isShow"
           class="alert {{ (isSuccess) ? 'alert-success' : 'alert-danger' }}"
           role="alert">
        {{message}}
      </div>
      <div style="margin-top: 20px">
        <a style="color: white;font-weight: bold" href="#">Back</a>
      </div>
    </div>
  </div>
  </form>
</div>

</body>
