
<div class="container-body sidebar_submenu">
  <div class="title">Danh mục cho thuê</div>
  <ul>
    <li>
      <i class="fa fa-angle-right" aria-hidden="true"></i>
      <a href="#" title="Cho thuê phòng trọ">Cho thuê phòng trọ

      </a>
    </li>
    <li>
      <i class="fa fa-angle-right" aria-hidden="true"></i>
      <a href="#" title="Cho thuê phòng trọ">Cho thuê phòng trọ

      </a>
    </li>
    <li>
      <i class="fa fa-angle-right" aria-hidden="true"></i>
      <a href="#" title="Cho thuê phòng trọ">Cho thuê phòng trọ

      </a>
    </li>
    <li>
      <i class="fa fa-angle-right" aria-hidden="true"></i>
      <a href="#" title="Cho thuê phòng trọ">Cho thuê phòng trọ

      </a>
    </li>
    <li>
      <i class="fa fa-angle-right" aria-hidden="true"></i>
      <a href="#" title="Cho thuê phòng trọ">Cho thuê phòng trọ

      </a>
    </li>
    <li>
      <i class="fa fa-angle-right" aria-hidden="true"></i>
      <a href="#" title="Cho thuê phòng trọ Hồ Chí Minh">Cho thuê phòng trọ Hồ Chí Minh

      </a>
    </li>
  </ul>
</div>
<div>
  <img style="width: 100%" height="560px" src="https://phongtro123.com/images/ad_nhom_fb.jpg">
</div>

<div class="list_post_recent">
  <div class="header">Tin mới đăng</div>
  <ul>
    <li class="normal">
      <a href="#">
        <span class="title" style="color:#055699;">Căn hộ dịch vụ full nội thất Nguyễn Đình Chiểu trung tâm Phú Nhuận</span>
        <span class="price">18m²</span>
        <span class="price">10 triệu/tháng</span>
      </a>
    </li>
    <li class="normal">
      <a href="#">
        <span class="title" style="color:#055699;">Căn hộ dịch vụ full nội thất Nguyễn Đình Chiểu trung tâm Phú Nhuận</span>
        <span class="price">18m²</span>
        <span class="price">10 triệu/tháng</span>
      </a>
    </li>
    <li class="normal">
      <a href="#">
        <span class="title" style="color:#055699;">Căn hộ dịch vụ full nội thất Nguyễn Đình Chiểu trung tâm Phú Nhuận</span>
        <span class="price">18m²</span>
        <span class="price">10 triệu/tháng</span>
      </a>
    </li>
    <li class="normal">
      <a href="#">
        <span class="title" style="color:#055699;">Căn hộ dịch vụ full nội thất Nguyễn Đình Chiểu trung tâm Phú Nhuận</span>
        <span class="price">18m²</span>
        <span class="price">10 triệu/tháng</span>
      </a>
    </li>


  </ul>
</div>
