
<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">

    <div class="modal-content">


      <div class="modal-c-tabs">


        <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" ><i class="fas fa-user mr-1"></i>
              Login</a>
          </li>
        </ul>


        <div class="tab-content">

          <div class="tab-pane fade in show active">
            <form [formGroup]="formGroup" (ngSubmit)="checkUser()">
              <div class="modal-body mb-1">
                <h2 class="text-center">Sign Up</h2>
                <div class="md-form form-sm mb-5">
                  <i class="fas fa-envelope prefix"></i>
                  <input type="email" id="exampleInputEmail1" formControlName="userName" aria-describedby="emailHelp" class="form-control form-control-sm ">
                  <label data-error="wrong" data-success="right" for="exampleInputEmail1">Your User Name</label>
                </div>


                <div class="md-form form-sm mb-4">
                  <i class="fas fa-lock prefix"></i>
                  <input type="password" id="exampleInputPassword1" formControlName="password"  class="form-control form-control-sm ">
                  <label data-error="wrong" data-success="right" for="exampleInputPassword1">Your Password</label>
                </div>
                <input class="form-check-input" type="checkbox" id="exampleCheck1">
                <div class="form-group text-center">
                  <label class=" blue-text font-weight-bold form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <div class="text-center mt-2">
                  <button  type="submit" class="btn btn-info" > Log in </button>
                </div>


                <div *ngIf="isShow"
                     class="alert {{ (isSuccess) ? 'alert-success' : 'alert-danger' }}"
                     role="alert">
                  {{message}}
                </div>
              </div>
              <div class="modal-footer">
                <div class="options text-center text-md-right mt-1">
                  <p>Not a member? <span class="blue-text"><a class="normail-a" routerLink="/signup-homepage">Sign Up</a></span></p>
                </div>
                <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>
<p class="nav-customAS" data-toggle="modal" data-target="#modalLRForm">LogIn/Register</p>



