<div class="container-body row">
  <div class="float-left col-12">
    <div class="border" *ngFor="let h of listHouse">
      <div class="col-12 col-lg-3 float-left">
        <td>
          <img [src]="h.picture[0].tenAnh" style="width: 100px" height="100px">
        </td>
      </div>
      <div class="col-12 col-lg-9 float-left">
        <div href="#" class="hot-news-a"><h3 style="color: red">* Tên ngôi nhà: {{h.tenNha}} </h3></div>
        <div class="price"><strong><span>* Giá: </span>{{h.giaTienTheoDem}}$/Đêm</strong></div>
        <div class="acreage clearfix">
          <p>
            <span style="font-weight: normal">* Địa chỉ: </span> <a href="#">{{h.diaChi}}</a>
          </p>
        </div>
        <div>
          <span>* Mô tả chung: {{h.moTaChung}}</span>
        </div>
        <div>
          <span>* Trạng thái: {{h.trangThai}} </span>
        </div>
        <button routerLink="views/{{h.idNha}}">Chi tiết</button>
        <button>Đặt thuê</button>
      </div>
    </div>
  </div>
</div>


